table, th, td {
    border: 1px solid black;
    
}
th {
    background-color: gray;
}
td {
    width: 60px;
    height: 15px;
}

button {
    margin-top: 5px;
}


/*CLASSES*/

.media-nota {
    background-color: gray;
}
.media-final {
    background-color: aquamarine;
}